.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
  border-right: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border: 0.1px solid #a94442;
   /* red */
}
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://i.pinimg.com/564x/c1/ca/49/c1ca4916549ca2dd421e95cf5baf6d36.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: 0.75rem 1.5rem;
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    font-family: monospace;
    
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc( 00.75rem/ 3);
    padding-bottom: calc(00.75rem / 3);
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

  .messageError
  {
    color: red;
    font-family: monospace;
    padding-bottom: 2px;
  }